<h1>Your Order:</h1>
    
<div class="container">
 <table class="table table-bordered">
    <thead>
     <tr>
       <th>Image</th>
       <th>Product</th>
       <th>Order Quantity</th>
       <th>Product Price</th>
     </tr>
   </thead>
   <tbody>
   <% @purchased_items.each do |cart_item| %>
     <tr>
         <td>
             <img class="media-object cart-show" src = <%= cart_item.product.images.first.url %> alt= <%= cart_item.product.name%> >
         </td>
         <td>
             <p><%= cart_item.product.name %></p>
         </td>
         <td>
             <p><%= cart_item.quantity %></p>
         </td>
         <td>
             <p>$<%= cart_item.product.price %></p>
         </td>
     </tr>
     <% end %>
   </tbody>
 </table>

</div>