<h1 id="title">All Products:</h1>
<div class="row">
<% @all_products.each do |product| %>
    <div class="col-md-3">
      <div class="well">
        <h1><a href = "/products/<%= product.id %>"><%= product.name %></a></h1>
        <h2>$<%= product.price %></h2>
        <a href = "/products/<%= product.id %>"><img src="<%= product.images.first.url %>" width = 100% ></a>
        <h3><%= product.description %></h2>
      </div>
    </div>
<% end %>
</div>